.navbar-collapse{
    flex-basis: auto;
  }

  @media (min-width: 1024px)  {
    .navbar-brand img{
      width: 65%;
    }

    .nav-container{
      margin-top: 0.1rem !important;
      padding: 0.5rem 6rem !important;
    }
}


@media (max-width: 1024px) {
  
    .navbar-brand img{
      width: 60%;
    }

  
    .nav-container{
      margin-top: 0.1rem !important;
      padding: 0.5rem 3rem !important;
    }
  }


  @media (max-width: 768px) {
    .btn_getinsu {
      padding: 8px 30px;
      margin-top: 40px;
    }
  
    .heroAnimateText {
      letter-spacing: 1px !important; 
    }
  
    .boxContainer, .appSec {
      padding-inline: 2rem !important; 
    }
  
    .postSec {
      padding-inline: 1rem !important; 
    }
  
    .recentPostInner {
      min-height: 200px;
      max-height: 300px;
    }
  
    .appbtns img{
      min-width: 150px;
    }
  
    .nav-container{
      margin-top: 0.1rem !important;
      padding-inline: 2rem !important;
    }
  }
  
  @media (max-width: 480px) {
  
    .nav-container{
      margin-top: 0.1rem !important;
      padding-inline: 5px !important;
    }
  
  }


  @media (min-width: 768px) {

    .navbar > .container-fluid{
      flex-wrap: nowrap !important;
    }
  }

  .navButton{
    font-weight: 400 !important;
    font-size: 15px !important;
    padding-inline: 32px !important;
    border-radius: 6px !important;
    color: #fff !important;
    transition: 0.3s !important;
    border: 1px solid #f57920 !important;
  }

  .nav-item{
    margin-left: 25px !important;
  }
  
  .nav-link{
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-weight: 400 !important;
    font-size: 15px !important;
  }
  
  .form-control{
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 195px;
    border-radius: 10px !important;
    padding-top: 2px !important;
    padding-bottom: 0 !important;
    padding-inline-start: 4px !important;
  }

  