@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
.hand_rotate{
  -webkit-animation-name: rotate_hand;
  -webkit-animation-duration:100ms;
  -webkit-animation-timing-function:linear;
}
  
.herocontainer {
  background-image: url("./images/banner.png");
  background-size: cover;
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 100%;
  background-position: fixed;
}
  
.btn_getinsu {
  margin-top: 60px;
  background: #F36D35;
  border-radius: 4px;
  padding: 10px 50px;
  color: #FFFFFF;
  border: 1px solid #F36D35 !important;
}

.btn_getinsu:hover{
  background-color: white !important;
  color: #f57920 !important;
}
.herofont {
  font-weight: 1000;
}

.heroAnimateText{
  letter-spacing:2px !important;
  text-shadow: 3px 0;
}

.pro_IconBox {
  text-align: center;
  background: white;
  border: 1px solid rgb(68 68 68 / 34%);
  margin-top: 10px;
  padding: 30px 70px !important;
  border-radius: 8px;
  box-shadow: 0 0.5em 0.5em -0.4em rgb(68 68 68 / 34%);
  transition: 0.5s;
}

.container-fluid{
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-top: 5rem;
}

.nav-container{
  margin-top: 0.1rem !important;
}

/* .appSec  {
  padding-right: 5rem !important;
  padding-left: 5rem !important;
} */

.postH2 {
  font-weight: 600 !important;
  font-size: 32px !important;
}

.btn-outline {
  min-height: 43px;
  background: #f47a22 !important;
  color: #ffffff;
  font-size: 16px;
  border: 2px solid #fff !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  appearance: none;
}

.footerLower{
  background-image: url("./images/footer.jpg");
  background-size: cover;
  box-sizing: border-box;
}

.fLower{
  margin-left: 10%;
  margin-right: 10%;
}

.sticky-button {
  position: fixed;
  top: 99px;
  right: 1px; 
  padding: 5px 10px;
  font-size: small;
  background-color: #F36D35;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sticky-whatsapp {
  position: fixed;
  bottom: 20px; 
  left: 20px;
  padding: 15px 15px;
  font-size: small;
  background-color: #F36D35;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


