@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: --font-base, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden!important;
  overflow-y: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-collapse{
  flex-basis: auto;
}
  
.hand_rotate{
  -webkit-animation-name: rotate_hand;
  -webkit-animation-duration:100ms;
  -webkit-animation-timing-function:linear;
}

@media (max-width: 1325px) {
  .footerInput{
    min-width: 250px !important;
  }
}

@media (max-width: 1120px) {
  .footerInput{
    min-width: 220px !important;
  }
}

@media (max-width: 1026px) {
  .footerInput{
    width: 450px !important;
    padding-inline: 20px !important;
  }

  .firstCol{
    width: 100% !important;
    padding-inline: 1rem !important;
  }

  .secondCol{
    width: 100% !important;
    padding-inline: 1rem !important;
  }

  .thirdCol{
    width: 100% !important;
    padding-inline: 1rem !important;
  }

  .lastRowFooter{
    padding-inline: 1rem !important;
  }

  
}

@media (max-width: 500px) {
  .footerInput{
    width: 400px !important;
    padding-inline: 20px !important;
  }
}

@media (max-width: 420px) {
  .footerInput{
    width: 300px !important;
    padding-inline: 20px !important;
  }
}

@media (min-width: 1026px) and (max-width: 1500px) {
  .appbtns img{
    max-width: 200px;
  }
}


@media (min-width: 1024px)  {

    .secContainer{
      padding: 0.5rem 6rem;
    }

    .appbtns img{
      min-width: 200px;
    }

    .navbar-brand img{
      width: 65%;
    }

    .nav-container{
      margin-top: 0.1rem !important;
      padding: 0.5rem 6rem !important;
      display: flex;
      flex-wrap: nowrap !important;
    }
}

@media (max-width: 395px) {
  .navbar-brand{
    width: 65%;
  }
}

@media (min-width: 1221px) and (max-width: 1320px) {
  .navbar-brand{
    width: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-collapse { 
    width: 100%; 
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start; 
    width: 100%; 
    padding: 0; 
  }

  .nav-item {
    margin-left: 0;
    width: 100%; 
  }

  .nav-link {
    width: 100%; 
    text-align: left; 
    padding: 10px 15px;
  }
}


@media (max-width: 1024px) {

  .secContainer {
    padding: 2rem 3rem;
  }

  .navbar-brand img{
    width: 60%;
  }

  .heroHeader {
    font-size: 24px !important; 
  }

  .pro_IconBox {
    height: 100px; 
  }

  .nav-container{
    margin-top: 0.1rem !important;
    padding: 0.5rem 3rem !important;
    display: flex;
    flex-wrap: inherit !important;
  }
}

@media (max-width: 768px) {
  /* .headerContent{
    position: absolute;
    top: 275px !important;
    left: 0;
    right: 0;
  } */

  .btn_getinsu {
    padding: 8px 30px;
    margin-top: 40px;
  }

  .heroAnimateText {
    letter-spacing: 1px !important; 
  }

  .boxContainer, .appSec {
    padding-inline: 0 !important; 
  }

  .postSec {
    padding-inline: 1rem !important; 
  }

  .recentPostInner {
    min-height: 200px;
    max-height: 300px;
  }

  .nav-container{
    margin-top: 0.1rem !important;
    display: flex;
    flex-wrap: inherit !important;
  }

  .secContainer{
    padding: 0 !important;
    padding-top: 2rem !important;
  }

  .secContainerHeader{
    padding-top: 4rem !important;
    padding-inline: 35px !important;
  }

  .secContainerPara{
    padding-inline: 38px !important;
    line-height: 22px;
  }

  .secContainerInner{
    min-width: 100% !important;
  }

  .secContainerBoxes{
    min-width: 100% !important;
    padding-inline: 85px !important;
  }

  .thirdContainerBoxes{
    margin-bottom: 2.5rem !important;
  }

}

@media (max-width: 600px) {
  .secContainerBoxes{
    min-width: 100% !important;
    padding-inline: 25px !important;
  }
}

@media (max-width: 480px) {

  .probox-heading {
    font-size: 16px !important;
  }

  .btn_getinsu {
    padding: 6px 20px; 
  }

  .secContainer{
    padding: 0px 20px;
  }

  .nav-container{
    margin-top: 0.1rem !important;
    padding-inline: 5px !important;
  }

  .appbtns img{
    min-width: 110px;
  }

}

@media (min-width: 768px) {
  .md\:flex-row {
      padding: 0.5rem 6rem;
  }
}

  
.herocontainer {
  background-image: url("./images/banner.png");
  background-size: contain;
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.heroInner{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: -95px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* @media (min-width: 2200px) {
  .headerContent{
    position: absolute;
    top: 260px !important;
    left: 0;
    right: 0;
  }
  
} */

/* .headerContent{
  position: absolute;
  top: 230px;
  left: 0;
  right: 0;
} */

@media (min-width: 732px) and (max-width: 768px ) {
  .navbar-toggler{
    padding-left: 50px !important;
  }
}

@media (max-width: 768px) {
  .herocontainer{
    background-image: url("./images/mobileBanner.jpg") !important;
    background-size: cover !important;
    background-position: top;
  }

  /* .navbar-toggler{
    padding-left: 50px !important;
  } */

  .navbar-toggler:focus, .navbar-toggler:active {
    outline: none; /* Removes the outline */
    box-shadow: none; /* Removes any box-shadow */
    border: none; /* Removes the border */
  }
}

@media (max-width: 768px) {
  .herocontainer {
    background-size: cover; 
    height: auto; 
    min-height: 100vh;
  }

  .herofont {
    font-size: 26px !important;
    margin-top: 20px;
    display: flex;
    flex-direction: column !important;
  }

  .heroAnimateText{
    font-size: 26px !important;
    letter-spacing:2px !important;
    text-shadow: 3px 0;
  }

  .heroHeader{
    font-size: 20px !important;
  }

  .btn_getinsu{
    padding: 4px 24px !important;
    font-size: 14px !important;
  }

  .sticky-button{
    top: 70% !important;
    right: 10px !important;

  }
}

.board{
  --bs-gutter-x: 0 !important;
}

.input-group{
  border: 1px solid #f57920;
}

.form-control{
  border: none;
}

.form-control:focus {
  outline: none;
  box-shadow: none; 
}

.btn_getinsu {
  margin-top: 60px;
  background: #F36D35;
  border-radius: 4px;
  padding: 10px 50px;
  color: #FFFFFF;
  border: 1px solid #F36D35 !important;
}

.btn_getinsu:hover{
  background-color: white !important;
  color: #f57920 !important;
  transition: 0.5s;
}
.herofont {
  font-weight: 700 !important;
  font-size: 48px;
  margin-top: 10px;
}

.heroAnimateText{
  letter-spacing:2px !important;
  text-shadow: 3px 0;
}

.heroHeader{
  font-size: 32px;
}

.pro_IconBox {
  text-align: center;
  background: white;
  border: 1px solid rgb(68 68 68 / 34%) !important;
  margin-top: 10px;
  height: 122px;
  border-radius: 8px;
  box-shadow: 0 0.5em 0.5em -0.4em rgb(68 68 68 / 34%);
  transition: 0.5s;
}

.pro_IconBox:hover{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.btn-outline {
  min-height: 43px;
  background: #f47a22 !important;
  color: #ffffff;
  font-size: 16px;
  border: 2px solid #fff !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  appearance: none;
}

.footer{
  background-image: url("./images/footer.jpg");
  background-size: cover;
  box-sizing: border-box;
  margin-top: 0px !important;
  padding: 0px;
  background-position: top;
  background-repeat: no-repeat;
}

.appCTA-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.social a{
  color: #fff;
  border: 1px solid #ec6d21;
  background: #ec6d21;
  width: 30px !important;
  height: 30px !important;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.social a:hover{
  background-color: #fff;
  color: #ec6d21;
  border: 1px solid #ec6d21;
  border-radius: 5px;
}

.upperFooter{
  background-color: #f47a22;
  min-height: 180px;
  display: flex;
  align-items: center;
  margin-top: 52px !important;
  padding-top: 20px;
  padding-bottom: 18px !important;
  flex-direction: column;
}

.upperFooter h2{
  font-size: 24px !important;
  /* margin-bottom: 20px; */
  line-height: 32px !important;
  color: #fff !important;
  /* margin-top: 20px !important; */
}

.firstCol{
  flex: 0 0 auto;
  width: 33.33333%;
}
.secondCol{
  flex: 0 0 auto;
  width: 33.33333%;
  padding-top: 25px;
}
.thirdCol{
  flex: 0 0 auto;
  width: 33.33333%;
  padding-top: 25px;
}

.firstCol a.appbtns{
  width: 50%;
  display: inline-flex;
  padding-block: 20px !important;
  padding-inline: 0px !important;
}

.quickmenu-col{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.quick1{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.quick2{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sticky-button {
  position: fixed;
  top: 18%;
  right: 1px; 
  padding: 5px 10px;
  font-size: small;
  background-color: #F36D35;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sticky-whatsapp {
  position: fixed;
  bottom: 20px; 
  left: 20px;
  padding: 15px 15px;
  font-size: small;
  background-color: #F36D35;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

@media (max-width: 1300px) {
  .navButton{
    padding-inline: 16px !important;
  }
}

.navButton{
  font-weight: 400 !important;
  font-size: 15px !important;
  padding-inline: 32px !important;
  border-radius: 6px !important;
  color: #fff !important;
  transition: 0.3s !important;
  border: 1px solid #f57920 !important;
}

.nav-item{
  margin-left: 25px !important;
}

.nav-link{
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-weight: 400 !important;
  font-size: 15px !important;
}

.form-control{
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 195px;
  border-radius: 10px !important;
  padding-top: 2px !important;
  padding-bottom: 0 !important;
  padding-inline-start: 4px !important;
}


.hero{
  padding-block-start: 13%;
}


.probox-heading{
  font-size: 20px !important;
  padding-top: 14px !important;
}

.box-heading{
  font-size: 36px !important;
  font-weight: 600 !important;
  padding: 0px !important;
}

.boxContainer{
  padding-top: 72px !important;
  padding-bottom: 72px !important;
  margin-top: 5rem !important;
  padding-inline: 5rem !important;
}

.box-para{
  font-size: 16px !important;
  text-align: center !important;
}

.appSec{
  padding-top: 72px !important;
  padding-bottom: 72px !important;
  padding-inline: 6rem;
}

.headingApp{
  font-size: 18px !important;
  font-weight: 500 !important;
  margin-bottom: 8px !important;
  padding-bottom: 12px !important;
}

.small{
  line-height: 22px !important;
  margin-bottom: 16px !important;
  font-size: 1.1rem !important;
}

/* .fLower2{
  padding-inline: 4rem;
} */

.appbtns{
  padding: 20px 10px !important;
  max-width: 250px;
}

.appCTA{
  padding: 0px 65px !important;
}

.postSec{
  z-index: 19999999;
  margin-bottom: 100px !important;
  padding-top: 54px !important;
  padding-bottom: 64px !important;
  text-align: center !important;
  padding-inline: 20px !important;
}

.postH2 {
  font-size: 32px !important;
  font-weight: 500;
  padding-bottom: 12px !important;
}

.recentPosts{
  display: flex;
  justify-content: center;
  align-items: center;
}

.recentPostInner{
  padding: 12px;
  background: white;
  margin: 10px;
  text-align: left;
  box-shadow: 0px 0px 10px rgb(68, 68, 68 , 38%);
  border-radius: 4px;
  min-height: 250px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recentPostInner:hover{
  box-shadow: 0px 0px 3px rgb(245 121 32);
  border-radius: 8px ;
}

.recentPostInner:hover a{
  visibility: visible;
  color: #f57920;
  display: flex;
  justify-content: flex-end;
  transition-delay: 0.5s;
}

.recentPostInner a{
  visibility: hidden;
  float: right;
  font-size: 16px !important;
}
.recentPostInner h2{
  font-size: 18px !important;
  font-weight: 600 !important;
}

.recentPostInner p{
  font-size: 16px !important;
  font-weight: 400 !important;
}

.footerSec {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 2rem !important;
}

.fLower2_1{
  flex: 0 0 auto;
  padding: 25px 0;
  font-size: 15px;
  width: 33.3333%;
}

.fLower2_2{
  display: flex;
  justify-content: center;
  width: 33.3333%;
  flex: 0 0 auto;
  gap: 2rem;
}
